---
# Template for Proxmox group variables
template_vm_name: ubuntu-24.04-template
storage: ThinVault
disk_resize_enable: False
image_url: https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img